<%= render "shared/header" %>

<div class='main'>
  <%#左側メニュー%>
  <div class='left-contents'>
    <div class='training-menu'>
    左上
    </div>
    <div class='tournament-result'>
    左下
    </div>
  </div>
  <%#/左側メニュー%>

  <%#中央メイン%>
  <div class='center-contents'>
    <div class='training-content'>
    中央メイン
    </div>
  </div>
  <%#/中央メイン%>

  <%#右側メニュー%>
  <div class='right-contents'>
    <div class='login-user-name'>
    右上
    </div>
    <div class='team-members'>
    右中央
    </div>
    <div class='comments'>
    右下
    </div>
  </div>
  <%#/右側メニュー%>
</div>

<%= render "shared/footer" %>