.main{
  display: flex;
}

/*左のサイドバー*/
.left-contents{
  width: 20vw;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.training-menu{
  height: 300px;
  background-color: aqua;
}
.tournament-result{
  height: 300px;
  background-color: aquamarine;
}
/*左のサイドバー*/

/*中央*/
.center-contents{
  width: 70vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 155);
}
.training-content{
  height: 600px;
}
/*中央*/

/*右側サイドバー*/
.right-contents{
  width: 30vw;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.login-user-name{
  height: 150px;
  background-color: aquamarine;
}
.team-members{
  height: 150px;
  background-color: rgba(127, 255, 212, 0.778);
}
.comments{
  height: 300px;
  background-color: rgba(127, 255, 212, 0.439);
}
/*右側サイドバー*/