.main{
  display: flex;
}
.field{
  width: 120px;
  border-radius: 5px;
}
.mini-field{
  width: 40px;
  border-radius: 5px;
}
/*左のサイドバー*/
.left-contents{
  width: 200px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.note-name{
  height: 30px;
  border: 1px solid black;
  text-align: left;
  padding-left: 10px;
}
.training-menu{
  height: 300px;
  border: 1px solid black;
  text-align: left;
  padding-left: 30px;
}
.left-bottom{
  height: 270px;
  border: 1px solid black;
}
/*左のサイドバー*/

/*中央*/
.center-contents{
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*中央上部*/
.training-content{
  height: 400px;
  width: 700px;
  border: 1px solid black;
}

/*中央下部*/
.training-post{
  height: 200px;
  display: flex;
  align-items: center;
}
.training-post-left{
  height: 160px;
  width: 150px;
  margin: 20 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.training-title{
  text-align: center;
  border: 1px solid black;
}
.training-time{
  text-align: center;
  border: 1px solid black;
}
.training-persons{
  text-align: center;
  border: 1px solid black;
}
.training-fatigue{
  border: 1px solid black;
}
.training-post-center{
  height: 160px;
  margin: 20 0px;
  padding: 10px;
  border: 1px solid black;
}
.training-post-right{
  height: 160px;
  width: 200px;
  margin: 20 0px;
  padding: 10px;
  border: 1px solid black;
}
/*中央*/

/*右側サイドバー*/
.right-contents{
  width: 327px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.user-new{
  height: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.user-login{
  height: 150px;
  border: 1px solid black;
  padding-left: 20px;
}
.comments{
  height: 300px;
  border: 1px solid black;
}
/*右側サイドバー*/