.top-page-header{
  width: 1000px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 183, 130);
  color: azure;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.app-name{
  font-size: 40px;
  text-align: center;
  font-family: 'VolleyBall-Note', cursive;
}