.top-page-header{
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(212, 203, 192);
}
.app-name{
  width: 20vw;
  padding-left: 20px;
}
.title{
  width: 60vw;
  padding-left: 20px;
}
.team-name{
  width: 20vw;
  padding-left: 20px;
}