.top-page-header{
  width: 1227px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgb(89, 93, 139);
  color: azure;
}
/*ヘッダー左側*/
.header-left{
  width: 900px;
  display: flex;
  justify-content: center;
}
.app-name{
  font-size: 40px;
}
/*ヘッダー右側*/
.header-right{
  width: 327px;
  display: flex;
  flex-direction: column;
}
.user-name{
  border: 1px solid black;
  padding-left: 20px;
}
.team-name{
  border: 1px solid black;
  padding-left: 20px;
}
.logout-button{
  text-decoration: none;
  color: azure;
  text-align: right;
  padding-right: 20px;
}