<%= render "shared/header" %>

<div class="homepage-upper">
  <p>練習ノートとは、日々の練習の質の向上に非常に役に立つものです。</p>
  <p>練習の内容を言語化してまとめる事で客観的に捉える事ができ、改善につながります。</p>
  <p>こちらのサイトでは２つの機能があり、個人用、チーム用がございます。</p>
  <p>用途に関してはそれぞれ詳細が載っておりますので是非ご参照の上ご活用ください。</p>
</div>

<div class="homepage-lower">
  <div class="homepage-lower-left">
    <p>個人ノートを使う方はこちらから</p>
  </div>
  <div class="homepage-lower-right">
    <p>チームノートを使う方はこちらから</p>
    <p>（2022/7/8時点、未実装）</p>
  </div>
</div>

<%= render "shared/footer" %>