<header class='top-page-header'>
  <div class='header-left'>
    <div class="app-name">
      バレーボールノート
    </div>
  </div>
  <div class='header-right'>
    <div class="user-name">
      <% if session[:user_id] %>
        ようこそ　<%= @login_user.name %>　さん
      <% end %>
    </div>
    <div class='team-name'>
      所属チームノートor個人ノート
    </div>
      <% unless current_user.nil? %>
        <%= link_to "ログアウト", logout_path, method: :delete, class:"logout-button" %>
      <% end %>
  </div>
</header>